:root {
  --primary-color: #d87d4a;
  --primary-light-solor: #fbaf85;
  --primary-black-color: #00000;
  --secondary-black-color: #101010;
  --gray-color: #f1f1f1;
  --slate-color: #fafafa;
  --white-color: #ffffff;
  --main-font-family: "Manrope", Arial sans-serif;
}
